PORT=5001
MONGO_URI=< mongo url >
ADMIN_JWT_TOKEN=ADMIN123
CUSTOMER_JWT_TOKEN=CUSTOMER123
USER_JWT_TOEKN=USER123
FRANCHISE_JWT_TOKEN=FRANCHISE123
AUCTIONEER_JWT_TOKEN=AUCTION123
FRONT_END_DOMAIN=https://nanipinninti.fun
TIME_OFFSET_MINUTES=0
